<h1>Edit user</h1>
 
<%= form_for @user, :url => user_path do |f| %>
  <%= render :partial => "form", :object => f %>
<% end %>
<br />

<%= link_to "View user", user_path %> |
<%= link_to 'Show', @user %>