// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background-color: #e2e4e8;
}

table {
    border-spacing: 6px;
}

#search, #user_nav{
	float: left;
}
#search{
margin-left: 6px;
}