/* style.scss */
#header {
  background: #5f9df0;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px; }

h1.logo {
  float: left;
  /*position: relative;*/ }

a#logo {
  float: left;
  height: 65px;
  width: 194px;
  position: absolute;
  top: 10px; }

#user_nav {
  float: right;
  position: relative;
  width: 81%;
  height: 20px;
  margin-top: 12px; }
  #user_nav ul {
    list-style-type: none; }
  #user_nav ul.left {
    float: left;
    margin-left: -40px; }
  #user_nav ul.right {
    float: right; }
  #user_nav li {
    float: left;
    margin: 0px 10px 0px 0px;
    font-size: 18px;
    color: #ffffff; }
    #user_nav li a {
      font-weight: bold;
      color: #ffffff;
      text-decoration: none; }
      #user_nav li a:hover {
        text-decoration: underline;
        background-color: none; }
      #user_nav li a:active {
        text-decoration: underline; }
    #user_nav li .user {
      font-style: italic; }

a.buttonSubscribe {
  background: #589c00;
  padding: 9.5px 19px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #ffffff;
  font-size: 18px;
  /*font-family: Helvetica, Arial, Sans-Serif;*/
  text-decoration: none;
  vertical-align: middle; }

a.buttonSubscribe:hover {
  border-top-color: #6bbd00;
  background: #6bbd00;
  color: #ffffff; }

a.buttonSubscribe:active {
  border-top-color: #6bbd00;
  background: #6bbd00; }

a.buttonUnsubscribe {
  background: #9c0000;
  padding: 9.5px 19px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #ffffff;
  font-size: 18px;
  /*font-family: Helvetica, Arial, Sans-Serif;*/
  text-decoration: none;
  vertical-align: middle; }

a.buttonUnsubscribe:hover {
  border-top-color: #bd0000;
  background: #bd0000;
  color: #ffffff; }

a.buttonUnsubscribe:active {
  border-top-color: #bd0000;
  background: #bd0000; }
